<% provide(:title, "All Users") %>

<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate @users %>
  <table class="table table-condensed table-hover" id="table-users">
    <thread>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thread>
    
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %>
      <% if user.admin? %>
        <span class="label label-primary label-user-division">管理者</span>
      <% else %>
        <span class="label label-success label-user-division">一般</span>
      <% end %>
      </td>
      <td><% if current_user.admin? && !current_user?(user) %>
      <%= link_to "削除", user, method: :delete,
              data: { confirm: "「#{user.name}」を削除します。よろしいですか？" }, class:"btn btn-danger" %><% end %></td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>